/* Variables  */
:root {
  --sonic-silver: hsla(274, 3%, 45%, 1);
  --outer-space-crayola: #1E3231;
  --outer-space-crayola-darker: #121d1c;
  --rhythm: hsla(269, 8%, 49%, 1);
  --opal: hsla(173, 22%, 68%, 1);
  --magic-mint: hsla(139, 62%, 81%, 1);
  --aero-blue: hsla(152, 100%, 86%, 1);
  --aero-blue-2: hsla(167, 100%, 88%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}