body {
  background-color: var(--magic-mint);
}

a {
  text-decoration: none;
}

.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loading-txt {
  width: 100px;
}

@media (min-width: 768px){
  .loading-txt {
    width: 150px;
  }
}